@model IList<HtmxProject.Pages.Base.AutocompleteResultModel>

@if (Model.Any())
{
	foreach (var item in Model)
	{
		<div class="flex items-center mb-4">
			<input type="checkbox" value="@item.Value" class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
			<label class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
				@item.Text
			</label>
		</div>
	}
}
else
{
	<p>No results</p>
}






