@using Htmx.TagHelpers
@inject HtmxProject.Infrastructure.StaticContent.HtmlContentManager JavaScriptBundler

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - HtmxProject</title>
	@* TODO: Improve font loading *@
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
	<meta name="htmx-config"
		  historyCacheSize="20"
		  indicatorClass="htmx-indicator"
		  includeAspNetAntiforgeryToken="true" />
	<link rel="stylesheet" href="~/bundles/css/tailwind.css" asp-append-version="true" />
	@* <link rel="stylesheet" href="~/bundles/css/accordion.css" asp-append-version="true" /> *@
	@await RenderSectionAsync("Styles", required: false)
	<script src="@HtmxAntiforgeryScriptEndpoints.Path" defer></script>
</head>
<body class="dark:bg-[#161c23] scrollbar-thin scrollbar-thumb-sky-700 scrollbar-track-sky-300" hx-ext="loading-states">
	<nav id="header" class="fixed w-full z-10 top-0 bg-blue-500 dark:bg-black-600">
		<div class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">
			<div class="pl-4">
				<a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl" href="#">
					Minimal Blog
				</a>
			</div>
			<div class="block lg:hidden pr-4">
				<button id="nav-toggle"
						class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-green-500 appearance-none focus:outline-none">
					<svg class="text-gray-500 h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<title>Menu</title>
						<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
					</svg>
				</button>
			</div>
			<div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20"
				 id="nav-content">
				<ul class="list-reset lg:flex justify-end flex-1 items-center">
					<li class="mr-3">
						<a class="inline-block py-2 px-4 text-gray-900 font-bold no-underline" href="#">Active</a>
					</li>
					<li class="mr-3">
						<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"
						   href="#">link</a>
					</li>
					<li class="mr-3">
						<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" onclick="LayoutUtils.toggleMode();"
						   href="#">link</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	@RenderBody()
	<footer class="bg-white border-t border-gray-400 shadow">
		<div class="container max-w-4xl mx-auto flex py-8">
			<div class="w-full mx-auto flex flex-wrap">
				<div class="flex w-full md:w-1/2 ">
					<div class="px-8">
						<h3 class="font-bold text-gray-900">About</h3>
						<p class="py-4 text-gray-600 text-sm">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus
							commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.
						</p>
					</div>
				</div>
				<div class="flex w-full md:w-1/2">
					<div class="px-8">
						<h3 class="font-bold text-gray-900">Social</h3>
						<ul class="list-reset items-center text-sm pt-3">
							<li>
								<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
								   href="#">Add social link</a>
							</li>
							<li>
								<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
								   href="#">Add social link</a>
							</li>
							<li>
								<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
								   href="#">Add social link</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	@* Copy js to bundle directory *@
	<script src="~/bundles/js/htmx.js"></script>
	<script src="~/bundles/js/loading-states.js"></script>
	<script src="~/bundles/js/accordion.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@JavaScriptBundler.GenerateScriptParts(Infrastructure.StaticContent.ResourceLocation.Footer)
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
