@model HtmxProject.Pages.Items.IndexModel

@if (Model.PagedResult.Items.Count > 0)
{
	for (var i = 0; i < Model.PagedResult.Items.Count; i++)
	{
		var item = Model.PagedResult.Items[i];
		<div @if (i + 1 == Model.PageSize)
		{
			<text>
				hx-get="/items?PageIndex=@(Model.PageIndex + 1)"
				hx-include=".form-items"
				hx-trigger="revealed"
				hx-swap="afterend"
			</text>
		}
				class="p-5 shadow-md rounded-md mb-4 flex items-center">
					<div class="w-[120px] rounded-md mr-2">
						<img class="h-auto w-full" src="~/img/default-product-image.png" width="100" height="100" alt="Item image">
					</div>
					<ul class="list-none w-full">
						<li>
							<h4 class="text-primary text-xl">
								@item.Name
							</h4>
						</li>
						<li class="text-lg bg-primary text-white inline-block p-[2px_10px] rounded-md">@item.CompanyName</li>
						<li class="text-gray-500">@item.ManufacturedAt</li>
					</ul>
				</div>
	}
}
else
{
	<p>No more data</p>
}
