@model HtmxProject.Pages.Items.ItemsSearchModel

<form class="form-items"
	  hx-get="/items"
	  hx-target="#data-content"
	  hx-trigger="submit"
	  hx-push-url="true"
	  hx-indicator=".htmx-indicator">
	<div class="flex flex-col gap-2 items-stretch">
		<label asp-for="Term">Search term</label>
		<input asp-for="Term" placeholder="Item name..." type="text" />
		<accordion id="accordion-container" collapsed="false">
			<accordion-item>
				<accordion-header title="Categories" />
				<accordion-body>
					<div class="p-2">
						<div class="scrollbar-thin max-h-[300px] overflow-y-auto">
							@Html.AutocompleteFor(m => m.CategoryId, "/categories?handler=autocomplete")
						</div>
					</div>
				</accordion-body>
			</accordion-item>
		</accordion>
		<button class="bg-primary hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded block" type="submit">
			Apply
		</button>
	</div>
</form>

